.container {
  padding: 2em 0;
  max-width: 48em;
  font-family: Roboto;
}

code,
kbd,
pre {
  font-family: "Roboto Mono";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 0;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4, h5, h6 { font-size: 1.0em; }

#toc-sidebar {
  position: relative;
  border-right: 1px solid #EEE;
  top: 0;
  left: 0;
  min-height: 100%;
  overflow-y: auto;
  padding: 1em;
}

#toc-sidebar ul {
  list-style-type: none;
}

#markdown-toc li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

#markdown-toc ul a {
  font-weight: normal;
}

#markdown-toc li a:hover {
  text-decoration: underline;
}

@media (min-width: 550px) {
  .container {
    width: 550px;
    padding: 2em;
  }

  #toc-sidebar {
    position: fixed;
    width: 12em;
  }

  #markdown-toc {
    position: absolute;
    left: 1em;
    top: 1em;
    right: 1em;
    bottom: 1em;
  }
}

@media (max-width: 985px) and (min-width: 550px) {
  .container {
    margin-left: 14em;
  }
}
